<html>
<head>
    <title>Node.js Chat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
	<div class="container hide" id="welcome-container">
		<h2>Welcome <span></span>
	</div>
	 <div class="clearfix visible-xs"></div>
    <div class="container" id="nickname-container">
        <h1>Choose a nickname!</h1>
        <span id="nick-error"></span>
        <form id="choose-nickname">
            <input type="text" id="nickname"></input>
        </form>
    </div>
    <div class="container" id="chat-container">
        <div class="row">
        	<div class="col-md-4">
	            <div id="users">
    	            <h2>Users</h2>
        	    </div><br/>
				<div id="groups">
    	            <h2>Groups </h2> <button type="button" id="createGroup">Add New</button>
        	    </div>        	    
        	</div>            
            <div class="clearfix visible-xs"></div>
            <div class="col-md-4 hide" id="chat-group">
                <div class="row" id="group-users"><h2>Group</h2></div>
                <div class="row" id="group-chat">

                </div>
                <div class="row">
                    <form id="send-message-group">
                        <input type="text" id="new-message-group" autocomplete="off"></input>
                    </form>
                </div>
            </div>
            
            <div class="col-md-4" id="pm-col">
                <div class="row" id="user-to-pm"><h2>Smitha</h2></div>
                <div class="row" id="private-chat">

                </div>
                <div class="row">
                    <form id="send-pm">
                        <input type="text" id="new-pm" autocomplete="off"></input>
                    </form>
                </div>
            </div>
        </div>    
    </div>    
    <div class="container hide" id="groupname-container">
        <h1>Choose a group Name!</h1>
        <span id="group-error"></span>
        <form id="create-group">
            <input type="text" id="groupname"></input><br/><br>
            <div class="row">
            	<div class="col-md-8 col-md-offset2">
            		<div class="col-md-6" style="min-height:300px; border:1px solid #ddd;">
						<div id="existingUser">
						</div>
            		</div>
            		<div class="col-md-6" style="min-height:300px; border:1px solid #ddd;">
            			<div id="newUser">
						</div>
            		</div>
            	</div>
            </div> 
        </form>
    </div>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/chat-ui.js"></script>
</body>
</html>